
<style>
.footer-container {
    Margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url(https://fahnuu.stripocdn.email/content/guids/CABINET_403705c…/images/15651622464738838.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #3c2da0;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:600px) {
    .footer-container  {  flex-direction: column;}
    }

.ul-container {
    list-style: none;
    text-align: left;
    margin-left: -40px;
    margin-top: -10px;
}

p {
   font-size: 16px;
   font-weight: bold;
}
  
</style> 
<div style="width:100%;font-family:roboto, 'helvetica neue', helvetica, arial, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0">
<div class="footer-container">
        <div class="footer-menu">
            <p style="color:white">${properties.heading1}</p>
            <ul class="ul-container">
                <a  href="${properties.link1Url}" style="text-decoration: none">
                    <li style="color:white; font-size: 14px; text-decoration: none;">${properties.link1}</li>
                </a>
                <a  href="${properties.link2Url}" style="text-decoration: none">
                    <li style="color:white; font-size: 14px; margin-top: 7px; text-decoration: none;">${properties.link2}</li>
                </a>
            </ul>
        </div>
        <div>
            <p style="color:white"> ${properties.heading2}</p>
            <ul  class="ul-container">
                <a  href="${properties.heading2link1Url}" style="text-decoration: none">
                    <li style="color:white; font-size: 14px; text-decoration: none;">${properties.heading2link1}</li>
                </a>
                <a  href="${properties.heading2link2Url}" style="text-decoration: none">
                    <li style="color:white; font-size: 14px; margin-top: 7px;text-decoration: none;">${properties.heading2link2}</li>
                </a> 
            </ul>
        </div>
        <div>
            <p style="color:white">${properties.followustext}</p>
            <ul class="ul-container" style="display: flex;">
                <a href="${properties.instaLinkUrl}" style="text-decoration: none">
                    <li style="color:white; font-size: 14px; text-decoration: none;"><img src="${properties.instaImage}" height="32px" width="32px" alt="instagram"/></li>
                </a>
                <a  href="${properties.facebookLinkUrl}" style="text-decoration: none">
                    <li style="color:white; font-size: 14px;text-decoration: none;"><img src = "${properties.facebookImage}" height="32px" width="32px" alt="facebook"/></li>
                </a>
            </ul>
        </div>     
    </div>
</div>