[submodule "ui.frontend/packages/lebara-client"]
	path = ui.frontend/packages/lebara-client
	url = https://github.com/Lebara-digital/storybook.git
    branch = bugfix/do-583-change-email-not-working-sb