// Tabs > TabList
.cmp-tabs {
    display: block;
    border-color: var(--chakra-colors-grey-100);

    &__tablist {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-color: inherit;
    }

    &__tab {
        outline: transparent solid 2px;
        outline-offset: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: var(--chakra-transition-property-common);
        transition-duration: var(--chakra-transition-duration-normal);
        font-size: var(--chakra-fontSizes-md);
        padding-top: var(--chakra-space-2);
        padding-bottom: var(--chakra-space-2);
        padding-inline-start: var(--chakra-space-4);
        padding-inline-end: var(--chakra-space-4);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-color: var(--chakra-colors-transparent);
        margin-bottom: -2px;

        &--active {
            color: var(--chakra-colors-secondary-500);
            border-color: var(--chakra-colors-secondary-500);
            font-weight: var(--chakra-fontWeights-bold);
        }
    }

    // TabPanels > 
    &>div {
        // TabPanel
        &>div {
            padding: var(--chakra-space-4);
            outline: transparent solid 2px;
            outline-offset: 2px;
        }
    }
}
// TabList


// Tab
