.lb-text-comp {
    a {
        text-decoration: underline !important;
        color: -webkit-link !important;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: revert;
        font-weight: revert;
        color: #3D4998;
    }
    h1 {
        font-family: "Chiswick Grotesque Lebara";
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    h2 {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: -0.01em;
        margin-top: 10px;

        @media (min-width:840px){
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.25px;
            margin-top: 30px;
        }
    }

    p {
        font-family: "Roboto";
        font-size:  14px;
        line-height:  20px;
        letter-spacing:  0.25px;
        color: #000000;

        @media (min-width:840px){
            margin-top: 20px;
            font-size:  16px;
            line-height:  23px;
            letter-spacing:  0.15px;
        }
    }

    h1 + p,
    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p{
        margin-top: 10px;

        @media (min-width:840px){
            margin-top: 20px;
        }
    }
}