
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">


        <style type="text/css">
           
            @media only screen and (max-width:600px) {
                .inner-dev {
                    flex-direction: column;
                }
            }
            @media only screen and (max-width:600px) {
                .icon-image-link {
                    padding-bottom: 15px !important;
                }
            }      
        </style>

    <div style="display: flex;flex-direction: column; align-items: start;Margin: 0;padding-top: 25px;padding-bottom: 25px;padding-left: 40px;padding-right: 40px;background-color: #f6f8ff;">
        <div>
			<h3 style="Margin: 0;line-height: 24px;font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;font-size: 20px;font-style: normal;font-weight: normal;color: #000000;padding-bottom: 20px;"><b>${properties.heading}</b></h3>
        </div>
        <div style="display: flex;width: 100%;justify-content: space-between;">
            <div style="display: flex;flex-direction: column;">
                <div style="display: flex;align-items: center;margin-bottom:-7px;">
					<a data-sly-test="${properties.normaltext1}" href="${properties.image1LinkUrl}" > 
						<img src="${properties.image1}" alt="" width="25px" height="25px">
					</a>
					<span style="margin: 0px 0px 0px 10px;font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height: 21px;color: #000000;font-size: 14px;">${properties.normaltext1 @context='unsafe'}</span>
                </div>
                <div style="display: flex;align-items: center;margin-bottom:-7px;">
					<a data-sly-test="${properties.normaltext2}" href="${properties.image2LinkUrl}" >
						<img src="${properties.image2}" alt="" width="25px" height="25px">
					</a>
                    <span style="margin: 0px 0px 0px 10px;font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height: 21px;color: #000000;font-size: 14px;">${properties.normaltext2 @context='unsafe'}</span>
                </div>
                <div style="display: flex;align-items: center;margin-bottom:-7px;">
                    <a data-sly-test="${properties.normaltext3}" href="${properties.image3LinkUrl}" > 
						<img src="${properties.image3}" alt="" width="25px" height="25px">
					</a>
                   <span style="margin: 0px 0px 0px 10px;font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height: 21px;color: #000000;font-size: 14px;">${properties.normaltext3 @context='unsafe'}</span>
                </div>
            </div>
            <div style="display: flex;flex-direction: column;">
                <div style="display: flex;align-items: center;margin-bottom:-7px;">
					<a data-sly-test="${properties.normaltext4}" href="${properties.image4LinkUrl}" > 
						<img src="${properties.image4}" alt="" width="25px" height="25px">
					</a>
                    <span style="margin: 0px 0px 0px 10px;font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height: 21px;color: #000000;font-size: 14px;">${properties.normaltext4 @context='unsafe'}</span>
                </div>
                <div style="display: flex;align-items: center;margin-bottom:-7px;">
					<a data-sly-test="${properties.normaltext5}" href="${properties.image5LinkUrl}"> 
					  <img src="${properties.image5}" alt="" width="25px" height="25px">
					</a>
                    <span style="margin: 0px 0px 0px 10px;font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height: 21px;color: #000000;font-size: 14px;">${properties.normaltext5 @context='unsafe'}</span>
				</div>
                <div style="display: flex;align-items: center;margin-bottom:-7px;">
                   <a data-sly-test="${properties.normaltext6}" href="${properties.image6LinkUrl}" > 
					<img src="${properties.image6}" alt="" width="25px" height="25px"></a>
                    <span style="margin: 0px 0px 0px 10px;font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;line-height: 21px;color: #000000;font-size: 14px;">${properties.normaltext6 @context='unsafe'}</span>
                </div>

            </div>
		</div>
    </div>