scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/lebara-assets
        create path (nt:unstructured) /content/dam/lebara-assets/jcr:content
        set properties on /content/dam/lebara-assets/jcr:content
        set cq:conf{String} to /conf/lebara-assets
        set jcr:title{String} to \"Lebara Assets\"
        end
        "
]
