
.about-lebara ul {
	list-style:none;
}
.about-lebara ul li:before{
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	background-color: white;
	mask: url('../../icons/tick-in-circle.svg') no-repeat center;
	background-size: contain;
	background-repeat: no-repeat;
	line-height: 1em;
	flex-shrink: 0;
	vertical-align: middle;
	margin-right: 10.92px;
	fill: var(--chakra-colors-white);
	font-size: 14px;
}
@media screen and (min-width: 62em){
	.about-lebara ul li {
		color: var(--chakra-colors-grey-50);
		font-size: 24px;
		margin-bottom: 24px;
		font-weight: 500;
	}
	.about-lebara ul li:before {
		font-size: 24px;
		font-weight: 500;
	}
}