scripts=["
    create path /content/dam/lebara(sling:OrderedFolder)
    create path /content/dam/lebara/jcr:content(nt:unstructured)
    create path /content/dam/lebara/global(sling:Folder)
    create path /content/dam/lebara/global/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets(sling:Folder)
    create path /content/dam/lebara/markets/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/jcr:content
      default jcr:title{String} to Lebara
      default dam:noThumbnail{Boolean} to true
      default cq:conf{String} to /conf/lebara
    end

    set properties on /content/dam/lebara/global/jcr:content
       default jcr:title{String} to Global
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/jcr:content
       default jcr:title{String} to Markets
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end


    create path /content/dam/lebara/markets/nl(sling:Folder)
    create path /content/dam/lebara/markets/nl/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/nl/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/nl/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/nl/creative(sling:Folder)
    create path /content/dam/lebara/markets/nl/creative/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/nl/jcr:content
       default jcr:title{String} to Netherlands
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/nl/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/nl/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end

    create path /content/dam/lebara/markets/fr(sling:Folder)
    create path /content/dam/lebara/markets/fr/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/fr/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/fr/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/fr/creative(sling:Folder)
    create path /content/dam/lebara/markets/fr/creative/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/fr/jcr:content
       default jcr:title{String} to France
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/fr/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/fr/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end

    create path /content/dam/lebara/markets/dk(sling:Folder)
    create path /content/dam/lebara/markets/dk/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/dk/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/dk/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/dk/creative(sling:Folder)
    create path /content/dam/lebara/markets/dk/creative/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/dk/jcr:content
       default jcr:title{String} to Denmark
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/dk/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/dk/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end

    create path /content/dam/lebara/markets/uk(sling:Folder)
    create path /content/dam/lebara/markets/uk/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/uk/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/uk/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/uk/creative(sling:Folder)
    create path /content/dam/lebara/markets/uk/creative/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/uk/jcr:content
       set jcr:title{String} to \"United Kingdom\"
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/uk/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/uk/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end

    create path /content/dam/lebara/markets/de(sling:Folder)
    create path /content/dam/lebara/markets/de/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/de/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/de/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/de/creative(sling:Folder)
    create path /content/dam/lebara/markets/de/creative/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/de/jcr:content
       default jcr:title{String} to Germany
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/de/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/de/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end

"]
