scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/lebara
        create path (nt:unstructured) /content/dam/lebara/jcr:content
        set properties on /content/dam/lebara/jcr:content
        set cq:conf{String} to /conf/lebara
        set jcr:title{String} to \"Lebara\"
        end
        "
]
