scripts=["
    create path /content/dam/lebara(sling:OrderedFolder)
    create path /content/dam/lebara/jcr:content(nt:unstructured)
    create path /content/dam/lebara/global(sling:Folder)
    create path /content/dam/lebara/global/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets(sling:Folder)
    create path /content/dam/lebara/markets/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/jcr:content
      default jcr:title{String} to Lebara
      default dam:noThumbnail{Boolean} to true
      default cq:conf{String} to /conf/lebara
    end

    set properties on /content/dam/lebara/global/jcr:content
       default jcr:title{String} to Global
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/jcr:content
       default jcr:title{String} to Markets
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end


    create path /content/dam/lebara/markets/nl(sling:Folder)
    create path /content/dam/lebara/markets/nl/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/nl/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/nl/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/nl/creative(sling:Folder)
    create path /content/dam/lebara/markets/nl/creative/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/nl/assets-qc(sling:Folder)
    create path /content/dam/lebara/markets/nl/assets-qc/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/nl/assets-approved(sling:Folder)
    create path /content/dam/lebara/markets/nl/assets-approved/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/nl/assets-rejected(sling:Folder)
    create path /content/dam/lebara/markets/nl/assets-rejected/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/nl/jcr:content
       default jcr:title{String} to Netherlands
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/nl/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/nl/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/nl/assets-qc/jcr:content
       default jcr:title{String} to \"Assets Under Quality Check\"
    end
    set properties on /content/dam/lebara/markets/nl/assets-approved/jcr:content
       default jcr:title{String} to \"Approved Assets\"
    end
    set properties on /content/dam/lebara/markets/nl/assets-rejected/jcr:content
       default jcr:title{String} to \"Rejected Assets\"
    end

    create path /content/dam/lebara/markets/fr(sling:Folder)
    create path /content/dam/lebara/markets/fr/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/fr/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/fr/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/fr/creative(sling:Folder)
    create path /content/dam/lebara/markets/fr/creative/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/fr/assets-qc(sling:Folder)
    create path /content/dam/lebara/markets/fr/assets-qc/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/fr/assets-approved(sling:Folder)
    create path /content/dam/lebara/markets/fr/assets-approved/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/fr/assets-rejected(sling:Folder)
    create path /content/dam/lebara/markets/fr/assets-rejected/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/fr/jcr:content
       default jcr:title{String} to France
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/fr/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/fr/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/fr/assets-qc/jcr:content
       default jcr:title{String} to \"Assets Under Quality Check\"
    end
    set properties on /content/dam/lebara/markets/fr/assets-approved/jcr:content
       default jcr:title{String} to \"Approved Assets\"
    end
    set properties on /content/dam/lebara/markets/fr/assets-rejected/jcr:content
       default jcr:title{String} to \"Rejected Assets\"
    end

    create path /content/dam/lebara/markets/dk(sling:Folder)
    create path /content/dam/lebara/markets/dk/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/dk/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/dk/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/dk/creative(sling:Folder)
    create path /content/dam/lebara/markets/dk/creative/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/dk/assets-qc(sling:Folder)
    create path /content/dam/lebara/markets/dk/assets-qc/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/dk/assets-approved(sling:Folder)
    create path /content/dam/lebara/markets/dk/assets-approved/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/dk/assets-rejected(sling:Folder)
    create path /content/dam/lebara/markets/dk/assets-rejected/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/dk/jcr:content
       default jcr:title{String} to Denmark
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/dk/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/dk/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/dk/assets-qc/jcr:content
       default jcr:title{String} to \"Assets Under Quality Check\"
    end
    set properties on /content/dam/lebara/markets/dk/assets-approved/jcr:content
       default jcr:title{String} to \"Approved Assets\"
    end
    set properties on /content/dam/lebara/markets/dk/assets-rejected/jcr:content
       default jcr:title{String} to \"Rejected Assets\"
    end

    create path /content/dam/lebara/markets/uk(sling:Folder)
    create path /content/dam/lebara/markets/uk/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/uk/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/uk/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/uk/creative(sling:Folder)
    create path /content/dam/lebara/markets/uk/creative/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/uk/assets-qc(sling:Folder)
    create path /content/dam/lebara/markets/uk/assets-qc/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/uk/assets-approved(sling:Folder)
    create path /content/dam/lebara/markets/uk/assets-approved/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/uk/assets-rejected(sling:Folder)
    create path /content/dam/lebara/markets/uk/assets-rejected/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/uk/jcr:content
       set jcr:title{String} to \"United Kingdom\"
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/uk/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/uk/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/uk/assets-qc/jcr:content
       default jcr:title{String} to \"Assets Under Quality Check\"
    end
    set properties on /content/dam/lebara/markets/uk/assets-approved/jcr:content
       default jcr:title{String} to \"Approved Assets\"
    end
    set properties on /content/dam/lebara/markets/uk/assets-rejected/jcr:content
       default jcr:title{String} to \"Rejected Assets\"
    end

    create path /content/dam/lebara/markets/de(sling:Folder)
    create path /content/dam/lebara/markets/de/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/de/branding(sling:Folder mixin rep:AccessControllable)
    create path /content/dam/lebara/markets/de/branding/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/de/creative(sling:Folder)
    create path /content/dam/lebara/markets/de/creative/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/de/assets-qc(sling:Folder)
    create path /content/dam/lebara/markets/de/assets-qc/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/de/assets-approved(sling:Folder)
    create path /content/dam/lebara/markets/de/assets-approved/jcr:content(nt:unstructured)
    create path /content/dam/lebara/markets/de/assets-rejected(sling:Folder)
    create path /content/dam/lebara/markets/de/assets-rejected/jcr:content(nt:unstructured)

    set properties on /content/dam/lebara/markets/de/jcr:content
       default jcr:title{String} to Germany
       default dam:noThumbnail{Boolean} to true
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/de/branding/jcr:content
       default jcr:title{String} to Branding
       default dam:noThumbnail{Boolean} to true
    end
    set properties on /content/dam/lebara/markets/de/creative/jcr:content
       default jcr:title{String} to Creative
       default sourcing{String} to false
    end
    set properties on /content/dam/lebara/markets/de/assets-qc/jcr:content
       default jcr:title{String} to \"Assets Under Quality Check\"
    end
    set properties on /content/dam/lebara/markets/de/assets-approved/jcr:content
       default jcr:title{String} to \"Approved Assets\"
    end
    set properties on /content/dam/lebara/markets/de/assets-rejected/jcr:content
       default jcr:title{String} to \"Rejected Assets\"
    end

    # creating root path for lebara groups
    create path /home/groups/lebara-dam-groups(rep:AuthorizableFolder mixin rep:AccessControllable)

    #create all lebara dam business groups
    create group lebara-creative-nl with path /home/groups/lebara-dam-groups
    create group lebara-creative-fr with path /home/groups/lebara-dam-groups
    create group lebara-creative-uk with path /home/groups/lebara-dam-groups
    create group lebara-creative-dk with path /home/groups/lebara-dam-groups
    create group lebara-creative-de with path /home/groups/lebara-dam-groups

    create group lebara-publisher-nl with path /home/groups/lebara-dam-groups
    create group lebara-publisher-fr with path /home/groups/lebara-dam-groups
    create group lebara-publisher-uk with path /home/groups/lebara-dam-groups
    create group lebara-publisher-dk with path /home/groups/lebara-dam-groups
    create group lebara-publisher-de with path /home/groups/lebara-dam-groups

    create group lebara-reviewer-nl with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-fr with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-uk with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-dk with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-de with path /home/groups/lebara-dam-groups

    create group lebara-reviewer-branding-nl with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-branding-fr with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-branding-uk with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-branding-dk with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-branding-de with path /home/groups/lebara-dam-groups

    create group lebara-reviewer-creative-nl with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-creative-fr with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-creative-uk with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-creative-dk with path /home/groups/lebara-dam-groups
    create group lebara-reviewer-creative-de with path /home/groups/lebara-dam-groups


    #global groups
    create group lebara-publisher with path /home/groups/lebara-dam-groups
    create group lebara-Compliance with path /home/groups/lebara-dam-groups

    #lebara base group
    create group lebara-base with path /home/groups/lebara-dam-groups
	
	# Lebara system user
	create service user readService set ACL on /etc/notifications/  allow jcr:read for readService end

    #setting up permissions
    #it is recommended to not set any deny permissions explicitly, only set allow permissions.


    #permissions for lebara-base groups. this is a parent group from which all groups will inherit basic permissions.
    set ACL for lebara-base
        allow jcr:read on /content/dam/lebara,/libs
    end


    add lebara-Compliance,lebara-publisher,lebara-publisher-de,lebara-publisher-uk,lebara-publisher-nl,lebara-publisher-fr,lebara-publisher-dk,lebara-reviewer-de,lebara-reviewer-dk,lebara-reviewer-uk,lebara-reviewer-fr,lebara-reviewer-nl,lebara-creative-uk,lebara-creative-dk,lebara-creative-de,lebara-creative-fr,lebara-creative-nl to group lebara-base

    #permissions for creative groups of regions
    set ACL for lebara-creative-nl
        allow jcr:versionManagement,jcr:write,jcr:lockManagement on /content/dam/lebara/markets/nl/assets-qc
    end
    set ACL for lebara-creative-fr
        allow jcr:versionManagement,jcr:write,jcr:lockManagement on /content/dam/lebara/markets/fr/assets-qc
    end
    set ACL for lebara-creative-de
        allow jcr:versionManagement,jcr:write,jcr:lockManagement on /content/dam/lebara/markets/de/assets-qc
    end
    set ACL for lebara-creative-dk
        allow jcr:versionManagement,jcr:write,jcr:lockManagement on /content/dam/lebara/markets/dk/assets-qc
    end
    set ACL for lebara-creative-uk
        allow jcr:versionManagement,jcr:write,jcr:lockManagement on /content/dam/lebara/markets/uk/assets-qc
    end

    add lebara-reviewer-creative-nl,lebara-reviewer-branding-nl to group lebara-reviewer-nl
    add lebara-reviewer-creative-fr,lebara-reviewer-branding-fr to group lebara-reviewer-fr
    add lebara-reviewer-creative-de,lebara-reviewer-branding-de to group lebara-reviewer-de
    add lebara-reviewer-creative-dk,lebara-reviewer-branding-dk to group lebara-reviewer-dk
    add lebara-reviewer-creative-uk,lebara-reviewer-branding-uk to group lebara-reviewer-uk

    #permissions for publishers of regions
    set ACL for lebara-publisher-nl
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/nl/branding
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/nl/creative
    end
    set ACL for lebara-publisher-fr
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/fr/branding
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/fr/creative
    end
    set ACL for lebara-publisher-de
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/de/branding
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/de/creative
    end
    set ACL for lebara-publisher-dk
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/dk/branding
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/dk/creative
    end
    set ACL for lebara-publisher-uk
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/uk/branding
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/markets/uk/creative
    end

    #set ACL for lebara-publisher, add lebara-publisher to each region's publisher group
    add lebara-publisher to group lebara-publisher-nl
    add lebara-publisher to group lebara-publisher-fr
    add lebara-publisher to group lebara-publisher-uk
    add lebara-publisher to group lebara-publisher-de
    add lebara-publisher to group lebara-publisher-dk

    #add permissions to global folders for parent of publishers
    set ACL for lebara-publisher
        allow jcr:versionManagement,jcr:write,jcr:lockManagement,crx:replicate on /content/dam/lebara/global
    end

"]
