<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0" offset="0" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #353535;" data-sly-use.body="body.js" data-sly-use.wcmInit="initwcm.js">

    <table id="ac-body-table" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; height: 100%; width: 100%; margin: 0; padding: 0; background-color: #353535;">
        <tr data-sly-test="${!wcmmode.disabled}">
            <td>
                <div data-sly-resource="${resource.path @ resourceType='mcm/campaign/components/status'}" data-sly-unwrap></div>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" id="ac-body-cell" style="padding: 30px;">
                <table id="ac-content-table" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;width: 600px; background-color: #FFFFFF;">
                    <tr>
                        <td align="center" valign="top">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; font-family: sans-serif; font-size: 10px; color: #808080;">
                                <tr>
                                    <td id="ac-preheader-cell" style="padding: 10px 10px 10px 20px; text-align: left;" width="60%" valign="top">
                                        <div data-sly-resource="${'teaser' @ resourceType='mcm/campaign/components/personalization'}" data-sly-unwrap="${wcmmode.disabled}"></div>
                                    </td>
                                    <td data-sly-test="${body.redirect}" id="ac-mirrorlink-cell" style="padding: 10px 20px 10px 10px;" width="40%" valign="top">
                                        <div data-sly-resource="${'redirect' @ resourceType='mcm/campaign/components/personalization'}" data-sly-unwrap="${wcmmode.disabled}"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="ac-content-cell" valign="top" style="padding: 0 0px; text-align: left; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;font-weight:normal !important;font-style:normal; font-size: 14px; color: #000000; line-height: 170%;">
                            <div data-sly-resource="${'image' @ resourceType='mcm/campaign/components/image'}" data-sly-unwrap></div>
                        </td>
                    </tr>
					<tr>
                        <td class="ac-content-cell" valign="top" style="padding: 0 20px; text-align: left; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;font-weight:normal !important;font-style:normal; font-size: 14px; color: #000000; line-height: 170%;">
                            <div data-sly-resource="${'personalization' @ resourceType='mcm/campaign/components/personalization'}" data-sly-unwrap></div>
                        </td>
                    </tr>

					<tr>
                        <td class="es-m-p10r es-m-p30l" align="left" bgcolor="#f6f8ff" style="Margin:0;padding-top:25px;padding-bottom:25px;padding-left:40px;padding-right:40px;background-color:#f6f8ff"> 
                            <div data-sly-resource="${'imagelink' @ resourceType='mcm/campaign/components/imagelink'}" data-sly-unwrap></div>
                        </td>
                    </tr>
					<tr>
                        <td class="es-m-p15t es-m-p15r es-m-p30l" align="left" bgcolor="#ffffff" style="padding:0;Margin:0;padding-top:30px;padding-left:40px;padding-right:40px;background-color:#ffffff"> 
                            <div data-sly-resource="${'textimagebuttonv1' @ resourceType='mcm/campaign/components/textimagebuttonv1'}" data-sly-unwrap></div>
                        </td>
                    </tr>
					<tr>
                        <td class="ac-content-cell" valign="top" style="padding: 0 20px; text-align: left; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;font-weight:normal !important;font-style:normal; font-size: 14px; color: #000000; line-height: 170%;">
                            <div data-sly-resource="${'personalization_1' @ resourceType='mcm/campaign/components/personalization'}" data-sly-unwrap></div>
                        </td>
                    </tr>
					<tr>
                        <td class="ac-content-cell" valign="top" style="padding: 0 0px; text-align: left; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;font-weight:normal !important;font-style:normal; font-size: 14px; color: #000000; line-height: 170%;">
                            <div data-sly-resource="${'footersection' @ resourceType='mcm/campaign/components/footersection'}" data-sly-unwrap></div>
                        </td>
                    </tr>
                     <tr>
                        <td class="ac-content-cell" valign="top" style="padding: 0 0px; text-align: left; font-family: roboto, 'helvetica neue', helvetica, arial, sans-serif;font-weight:normal !important;font-style:normal; font-size: 14px; color: #000000; line-height: 170%;">
                            <div data-sly-resource="${'footerimage' @ resourceType='mcm/campaign/components/image'}" data-sly-unwrap></div>
                        </td>
                    </tr>


                </table>
            </td>
        </tr>
    </table>

    <div data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap></div>

</body>