src/main/content/jcr_root/apps/lebara/clientlibs/clientlib-react-DE
src/main/content/jcr_root/apps/lebara/clientlibs/clientlib-react-FR
src/main/content/jcr_root/apps/lebara/clientlibs/clientlib-react-DK
src/main/content/jcr_root/apps/lebara/clientlibs/clientlib-react-NL
src/main/content/jcr_root/apps/lebara/clientlibs/clientlib-chat